---
---

@charset "utf-8";

@import "00-base/normalize",
        "00-base/variables",
        "00-base/helpers",
        "00-base/animations",
        "00-base/mixins";

@import "01-atoms/media",
        "01-atoms/layout",
        "01-atoms/typography",
        "01-atoms/lists";

@import "02-molecules/nav.scss",
        "02-molecules/pagination.scss",
        "02-molecules/top-intro.scss";

@import "03-organisms/header",
        "03-organisms/footer",
        "03-organisms/work-list";

@import "04-templates/post";

.label {
  position: relative;
  cursor: pointer;
}

.label:hover{
  color:#00f;
}

.label:hover:before {
    opacity: 1;
}

.label:before {
  content: attr(aria-label);
  opacity: 0;
  position: absolute;
  top: 30px;
  right: -90px;
  font-size: 14px;
  width: 200px;
  padding: 10px;
  color: #fff;
  background-color: #555;
  border-radius: 3px;
  pointer-events: none;
  z-index: 5;
}
