---
layout: default
id: home
title: Portfolio
---

<head>
  <link rel="stylesheet" href="/css/intro.css">
</head>

<div class="container">
  <div class="top-intro">
    <div class="ts-measure">
      <h1 class="ts-headline flip">Hello.</h1>
      <p style="margin:0" ;>&nbsp;</p>
      <div class="kr">
        <p>역사가 말해주듯 제대로 설계된 브랜드는 지속해서 성장합니다. 흔히 혁신, 독창성, 열정 같은 추상적인 단어들로 브랜딩을 대변합니다. 진짜 브랜딩은 <br class="gap-intro"><span class="link-popup" onclick="location.href='#popup-kr-1'">소수에 집중하고</span> <span class="link-popup" onclick="location.href='#popup-kr-2'">계속해서 가치를 제공합니다.</span> 또한 <span class="link-popup" onclick="location.href='#popup-kr-3'">내부적으로 팀의 역량을 강화시킵니다.</span></p>
        <p>브랜딩에 정해진 시기는 없습니다. 함께 성장을 고민하고 싶은 분은 연락해주세요. 소중한 인연 <span onclick="location.href='#footer-info'" class="link-span">기다리겠습니다.</span></p>
      </div>
    </div>
    <h2 class="section-title ts-strong"><span class="scroll-down">&#x02193; </span>Selected Projects</h2>
  </div>
  <!--kr popup start-->
  <div id="popup-kr-1" class="popup">
    <a href="#popup__close-fullscreen" class="popup__close-fullscreen">
      <div class="popup__container">
        <p>안목 있는 소수가 다수의 소비층을 인도합니다. 그들을 끌기 위해서는 브랜드 스스로가 먼저 안목을 높여야 합니다.</p>
      </div>
    </a>
  </div>
  <div id="popup-kr-2" class="popup">
    <a href="#popup__close-fullscreen" class="popup__close-fullscreen">
      <div class="popup__container">
        <p>성실함과 친근함만큼 안정적인 자산은 없습니다. 장기적인 관점으로 고객에게 지속해서 가치를 전달해야 합니다.</p>
      </div>
    </a>
  </div>
  <div id="popup-kr-3" class="popup">
    <a href="#popup__close-fullscreen" class="popup__close-fullscreen">
      <div class="popup__container">
        <p>브랜드는 일종의 인격체입니다. 확고한 비전을 가진 브랜드는 의사결정을 돕는 든든한 팀원이 되어줄 겁니다.</p>
      </div>
    </a>
  </div>
  <!--popup end-->

  <div class="work">
    <div class="work-list grid grid-d2-m1">
      {% for work in site.work reversed %}
      <div class="work-list-item grid-item {{ work.class }}">
        <a class="work-list-item-link" href="{{ work.url | relative_url }}"></a>
        <div class="work-list-item-media">
          <div class="work-list-item-background" style="background-color: {{ work.color }};"></div>
          <div class="work-list-item-media-inner"">
              <img class=" work-list-item-thumbnail lazyload" src="{{ work.cover | relative_url }}" />
        </div>
      </div>
      <div class="work-list-item-text">
        <h3 class="work-list-item-title fs-reset">{{ work.title }}</h3>
        <small class="work-list-item-type">{{ work.description }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include footer.html %}
</div>
